@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@section  PageHeader{
    @Html.Partial("~/Views/Shared/Partials/_PageBanner.cshtml")
}

<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-4">
            @Html.Partial("~/Views/Shared/Partials/_LeftImageMenu.cshtml")
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="col-sm-12 text-center space-bottom-20 space-20">
                <a href="~/Content/documents/Comp_plan_whole_mobile-1.pdf" target="_blank">CLICK TO DOWNLOAD PDF<br><br></a>
            </div>
            <div class="col-sm-12 text-center space-bottom-20 space-20">
                <a href="~/Content/documents/Comp_plan_whole_mobile-1.pdf" target="_blank">
                    <img src="~/Content/images/Comp_plan_whole_mobile-1.jpg" />
                </a>
            </div>
            <div class="col-sm-12">
                <h2 style="text-align:left">HOW TO LUXXIUM</h2>
            </div>
            <div class="col-sm-12">
                <p style="text-align:center">
                    Influencer members enjoy a true business in a box, turn key opportunity to earn real income with minimal out of pocket costs. 
                    Luxxium will have you earning profits from the start with on-going support and fluid sales techniques already in place to experience success.&nbsp;
                </p>
            </div>
        </div>
    </div>
</div>