@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
    ViewBag.Title = "Terms + Conditions";
    ViewBag.HeaderImg = "/Content/images/shutterstock_678404389.jpg";
}
@section  PageHeader{
    @Html.Partial("Partials/_PageBanner")
}
<div class="container">
    <section class="contract-section">
    </section>
</div>