@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
    ViewBag.Title = "Policies + Procedures";
    ViewBag.HeaderImg = "/Content/images/shutterstock_513894895.jpg";
}
@section  PageHeader{
    @Html.Partial("Partials/_PageBanner")
}
<div class="container">
    <section class="contract-section">
            <p class="ingress">LUXXIUM, LLC</p>



            <p class="text-center">STATEMENT OF POLICIES AND PROCEDURES</p>



            <ol><li>Luxxium LLC, hereinafter “Company,” is a direct selling Company marketing skin care products to the consumer through independent representatives.&nbsp;&nbsp;The policies and procedures herein are applicable to all independent representatives of the Company.</li></ol>



            <ul><li>An Influencer or Trainer, hereinafter “representative,” is one who has completed a Company application and agreement and has been accepted by the Company as a representative.&nbsp;&nbsp;The Company reserves the right to accept or reject anyone as a representative.</li></ul>



            <ul><li>All representatives must be the age of majority in the state in which they distribute Company products and services.&nbsp;&nbsp;</li></ul>



            <ul><li>Unless waived in writing by the Company upon application, the Company will consider each couple that is married, or a statutory domestic partnership, to be a single representative.&nbsp;&nbsp;Neither husbands and wives, nor statutory domestic partners, may sponsor each other directly or indirectly, nor have different sponsors.&nbsp;&nbsp;If one spouse or statutory domestic partner is already a representative, the non-participating spouse or statutory domestic partner may elect to become a representative, but must join the same representative position as his or her spouse or statutory domestic partner.&nbsp;&nbsp;The Company reserves the right to reject any applications for new representative positions or applications for renewal.&nbsp;&nbsp;Should a husband/wife representative divorce or statutory domestic partners dissolve, they should notify the Company as to how the representative position is to be managed thereafter.&nbsp;&nbsp;Otherwise, the Company will recognize the final judicial or adjudicatory disposition of the representative position.</li></ul>



            <ul><li>Representatives are independent marketing representatives of the Company and are not to be considered purchasers of a franchise or a distributorship.&nbsp;&nbsp;The agreement between the Company and its representatives does not create an employer\employee relationship, agency, partnership, or joint venture between the Company and the representatives.&nbsp;&nbsp;Each representative shall hold harmless the Company from any claims, damages or liabilities arising out of representative’s business practices.&nbsp;&nbsp;Company representatives have no authority to bind the Company to any obligation. Each representative is encouraged to set up his\her own hours and to determine his\her own methods of sale, so long as he\she complies with the policies and procedures of the Company.</li></ul>



            <ul><li>Transaction Submission Integrity.&nbsp;It is essential to the success of the Company, its representatives and customers that submissions of transactions to the Company maintain integrity of communication. It is to be expected that all transactions submissions to the Company, including, but not limited to, representative applications, representative communication, representative financial transactions and consumer transactions, be submitted by the individual or entity involved in the transaction. Third party submission of any and all transactions submissions is prohibited.&nbsp;&nbsp;A representative may not communicate any transactions submissions on behalf of another representative, representative applicant or customer. A representative may not use his or her credit card or bank account on behalf of another individual or representative.&nbsp;&nbsp;This rule is applicable to any and all forms of transactions submissions, including, but not limited to, online, telephone, fax, email, etc.&nbsp;</li></ul>



            <ul><li>In the conduct of its business, the representative shall safeguard and promote the reputation of the products and services of the Company and shall refrain from all conduct which might be harmful to such reputation of the Company or to the marketing of such products and services or inconsistent with the public interest, and shall avoid all discourteous, deceptive, misleading, unethical or immoral conduct or practices.&nbsp;&nbsp;A representative shall not interfere with, harass or undermine other representatives and, at all times, shall respect the privacy of other representatives.&nbsp;&nbsp;A representative must not disparage the Company, its affiliate entities, other Company representatives, Company products and/or services, the marketing and compensation plans, or Company employees.</li></ul>



            <ul><li>The company’s program is built upon retail sales to the ultimate consumer.&nbsp;&nbsp;The company also recognizes that representatives may wish to purchase product or service in reasonable amounts for their own personal or family use.&nbsp;&nbsp;For this reason, a retail sale for bonus purposes shall include sales to nonparticipants, as well as sales to representatives for personal or family use which are not made for purposes of qualification or advancement.&nbsp;It is company policy, however, to strictly prohibit the purchase of product or large quantities of inventory in unreasonable amounts solely for the purpose of qualifying for bonuses or advancement in the marketing program.&nbsp;&nbsp;Representatives may not inventory load nor encourage others in the program to load up on inventory.&nbsp;&nbsp;Representatives must fulfill published personal and downline retail sales requirements, including requisite retail sales to nonparticipants, as well as supervisory responsibilities, to qualify for bonuses, overrides or advancements.</li></ul>



            <ul><li>Any representative, who sponsors other representatives, must fulfill the obligation of performing a bona fide supervisory, distributing and selling function in the sale or delivery of product to the ultimate consumer and in the training of those sponsored.&nbsp;&nbsp;Representatives must have ongoing contact, communication and management supervision with his or her sales organization.&nbsp;&nbsp;Examples of such supervision may include, but are not limited to:&nbsp;&nbsp;newsletters, written correspondence, personal meetings, telephone contact, voice mail, electronic mail, training sessions, accompanying individuals to Company training, sharing genealogy information with those sponsored.&nbsp;&nbsp;Representatives should be able to provide evidence to the Company semiannually of ongoing fulfillment of sponsor responsibilities.&nbsp;<strong>If a representative is an Enroller in the marketing program entitled to Enroller bonuses, then the Enroller is obligated to the same responsibilities of supervisory, communication and training activities with respect to representatives he or she has enrolled, irrespective of whether the Enroller is also the Sponsor of those representatives.</strong><strong></strong></li></ul>



            <ol><li>Company Retail/70 Percent Policy.&nbsp;&nbsp;The Company sales and marketing program is based upon retail sales to the ultimate consumer.&nbsp;&nbsp;Every aspect of the program is designed to assist our representatives in the marketing of fine products and services to the general consuming public.&nbsp;&nbsp;As a dual consumer safeguard, of the utmost importance to the Company is the policy that representatives should purchase products and services in commercially reasonable quantities, and under no circumstances may representatives cause others to purchase products or services in amounts that are not reasonably expected to be sold to the consuming public or in unreasonable amounts for personal or family use.&nbsp;&nbsp;In furtherance of these policies, the Company has adopted specific rules on retail sales and retailing referenced as the Company retail/70 percent rules.&nbsp;In the interest of protecting the consumer and the opportunity of its representatives, the Company enforces this rule through a verification program.</li></ol>



            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company Retail/70 Percent Rule.&nbsp;&nbsp;</p>



            <ol><li>Retail Rule.&nbsp;&nbsp;</li></ol>



            <p>Although the primary function of the Company is to sell products and services to the general consuming public, the Company realizes that its representatives may wish to purchase product for personal or family use in reasonable amounts.&nbsp;&nbsp;For this reason, the Company defines a retail sale to include sales to nonparticipants, as well as purchases for personal or family use in reasonable amounts, which are not made solely for purposes of qualification or advancement.&nbsp;&nbsp;This is a standard followed by leading direct selling companies.&nbsp;&nbsp;Notwithstanding this policy, the Company, in order to specifically further retail selling, has adopted a requirement that a representative will not be eligible for bonuses or overrides unless he or she has made at least five (5) sales per month to nonparticipant retail customers.&nbsp;&nbsp;</p>



            <ul><li>70 Percent Rule.</li></ul>



            <p>As with other leading direct selling companies, the Company has adopted a 70 percent rule.&nbsp;&nbsp;Under this rule, Company representatives may not order additional product unless they have sold or used for personal or family use at least 70 percent of previously purchased inventory-type product.&nbsp;&nbsp;This verification form is also intended to support the 70 percent rule policy.</p>



            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retail Sales/70 Percent Rule Audit Verification Program.</p>



            <p>In its effort to support and enforce the retail sales/70 percent rule, the Company on a quarterly basis will conduct random audit verification follow-ups.&nbsp;The Company Compliance Department will contact representatives to further verify compliance with the retail sale/70 percent rule.&nbsp;&nbsp;Representatives should maintain records and be prepared to assist Company representatives in their task.&nbsp;&nbsp;</p>



            <ol><li>Sales Volume Qualification by Order Taking.&nbsp;&nbsp;As with other leading direct selling companies, the Company has adopted minimum personal and group sales volume requirements.&nbsp;&nbsp;With respect to tangible products, which may be offered for purchase for resale, minimum sales volume requirements may also be fulfilled by taking orders from retail customers which will be fulfilled or drop-shipped by the Company directly to the retail customer.</li></ol>



            <ol><li>All representatives are responsible for paying local, state and federal taxes due on earnings from commissions or any other earnings generated as a seller of Company products and services.&nbsp;The Company will collect sales tax on behalf of the representative, then report and distribute applicable sales taxes to the taxing entity for the state in which the sale is made.&nbsp;&nbsp;Representatives may apply for a waiver of this practice by submitting a copy of their sales and use tax number (and a statement that they are wholesale purchasers purchasing for resale) acquired through their local taxing authorities.</li></ol>



            <ol><li>Company representatives shall not advertise Company products and services and/or marketing plans except as specifically approved by the Company.&nbsp;&nbsp;Company representatives agree to make no false or fraudulent representations about the Company, the products, the Company compensation plan, or income potentials.</li></ol>



            <ol><li>All representatives are required to purchase a sales kit at the time of submission of their representative application to the Company.&nbsp;&nbsp;The sales kit is sold “at Company cost.”&nbsp;&nbsp;This sum is not a service or franchise fee, but rather is strictly to offset costs incurred by the Company for educational and business materials required for an independent representative of the Company.&nbsp;&nbsp;No product or service purchase by the representative is required.&nbsp;Data processing fees, if any, will be deducted from commissions and bonuses.</li></ol>



            <ol><li>Trademark, Trade Names, Advertising.</li><li>The name of the Company and other names as may be adopted by the Company are proprietary trade names and trademarks of the Company.&nbsp;&nbsp;As such, these marks are of great value to the Company and are supplied to representative for representative’s use only in an expressly authorized manner.&nbsp;&nbsp;Representative agrees not to advertise the Company products or services in any way other than the advertising or promotional materials made available to representative by the Company.&nbsp;&nbsp;Representative agrees not to use any written, printed, recorded or any other material in advertising, promoting or describing the products or services or the Company marketing program, or in any other manner, any material which has not been copyrighted and supplied by the Company, unless such material has been submitted to the Company and approved in writing by the Company before being disseminated, published or displayed.</li></ol>



            <ul><li>The representative, as an independent contractor, is fully responsible for all of his\her verbal and written statements made regarding the product or service and marketing program which are not expressly contained in writing in the current representative agreement, and advertising or promotional materials supplied directly by the Company.&nbsp;&nbsp;Representative agrees to indemnify the Company and hold it harmless from any and all liability including judgments, civil penalties, refund, attorney fees, court costs or lost business incurred by the Company as a result of representative’s unauthorized representations.</li></ul>



            <ul><li>The Company will not permit the use of its copyrights, designs, logos, trade names, trademarks, etc. without its&nbsp;priorwrittenpermission.</li></ul>



            <ul><li>All Company materials, whether printed, on film, produced by sound recording, or on the internet, are copyrighted and may not be reproduced in whole or in part by representatives or any other person except as authorized by the Company.&nbsp;&nbsp;Permission to reproduce any materials will be considered only in extreme circumstances.&nbsp;Therefore, a representative should not anticipate that approval will be granted.</li></ul>



            <ul><li>A Company representative&nbsp;maynotproduce, use or distribute any information relative to the contents, characteristics or properties of Company product or service which has not been provided directly by the Company.&nbsp;&nbsp;This prohibition includes but is not limited to print, audio or video media.</li></ul>



            <ul><li>A Company representative&nbsp;maynotproduce, sell or distribute literature, films or sound recordings which are deceptively similar in nature to those produced, published and provided by the Company for its representatives.&nbsp;&nbsp;Nor may a representative purchase, sell or distribute noncompany materials which imply or suggest that said materials originate from the Company.</li></ul>



            <ul><li>Any display ads or institutional or trademark advertising copy, other than covered in the foregoing rules, must be submitted to the Company and approved in writing by the Company prior to publication.</li></ul>



            <ul><li>All advertising copy, direct mailing, radio, TV, newspaper and display copy must be&nbsp;approvedinwritingbefore being disseminated, published or displayed with the exception of blind ads where no reference is made to the Company name or product name.</li></ul>



            <ol><li>Internet and Website Policy.</li></ol>



            <p>The Company maintains an official corporate website.&nbsp;&nbsp;Representatives are allowed to advertise on the internet through an approved Company program which allows representatives to choose from among Company home page designs that can be personalized with the representative’s message and the representative’s contact information.&nbsp;&nbsp;These websites link directly to the Company website giving the representative a professional and Company-approved presence on the internet.&nbsp;Only these approved websites may be used by representatives.&nbsp;&nbsp;No representative may independently design a website that uses the names, logos, product or service descriptions of the Company, nor may a representative use “blind” ads on the internet making product or income claims which are ultimately associated with Company products, services or the Company’s compensation plan.&nbsp;Any person using Company names, logos, trademarks, etc. on the internet or any other advertising medium, except as permitted by Company Rules and Regulations, shall be subject to immediate discipline, including termination of representative status.</p>



            <ol><li>Prohibition of Sales on Unauthorized Internet Sites.&nbsp;&nbsp;Except with written authorization from the Company, a representative may not sell nor promote Company products on unauthorized internet sites, including, but not limited to auction sites such as eBay, nor internet shopping sites, nor internet malls.</li></ol>



            <ol><li>Unsolicited Email.<strong>&nbsp;&nbsp;</strong>The Company does not permit representatives to send unsolicited commercial email to others unless such emails strictly comply with applicable laws and regulations including, without limitation, the federal CAN SPAM Act.&nbsp;</li></ol>



            <p>Any email sent by a representative that promotes the Company, the Company opportunity or Company products and services must comply with the following:</p>



            <ol><li>There must be a functioning return email address to the sender.</li><li>There must be a notice in the email that advises the recipient that he or she may reply to the email, via the functioning return email address, to request that future email solicitations or correspondence not be sent to him or her (a functioning “opt-out” notice).&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li>The email must clearly and conspicuously disclose that the message is an advertisement or solicitation.</li><li>The use of deceptive subject lines and/or false header information is prohibited.</li><li>All opt-out requests, whether received by email or regular mail, must be honored.&nbsp;&nbsp;If a representative receives an opt-out request from a recipient of an email, the representative must forward the opt-out request to the Company.</li></ol>



            <ol><li>Unsolicited Faxes and Spam.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Except as provided in this section, representatives may not use or transmit unsolicited faxes, mass email distribution, unsolicited email, or “spamming” or use an automatic telephone dialing system relative to the operation of their Company businesses. Unsolicited broadcast distribution of email or other distribution that may be defined as “bulk mail” or “SPAM” is strictly prohibited. Representatives may send “general mailings” only to other representatives in their downline organizations and their direct up-line sponsors. Any other bulk use of email is prohibited.</li></ol>



            <p>The term “automatic telephone dialing system” means equipment, which has the capacity to:</p>



            <ol><li>Store or produce telephone numbers to be called, using a random or sequential number generator; and</li><li>To dial such numbers.</li></ol>



            <p>The terms “unsolicited faxes” and “unsolicited email” mean the transmission via telephone facsimile or electronic mail, respectively, of any material or information advertising or promoting the Company, its products, its compensation plan or any other aspect of the Company which is transmitted to any person, except that these terms do not include a fax or email:</p>



            <ol><li>To any person with that person’s prior express invitation or permission; or<ol><li>To any person with whom the representative has an established business or personal relationship.&nbsp;&nbsp;The term “established business or personal relationship” means a prior or existing relationship formed by a voluntary two-way communication between a representative and a person, on the basis of:<ol><li>An inquiry, application, purchase or transaction by the person regarding products offered by such representative; or</li></ol><ol><li>A personal or familial relationship, which relationship has not been previously terminated by either party.</li></ol></li></ol></li></ol>



            <ul><li>Retail Establishments.&nbsp;&nbsp;Company products or services may only be displayed and sold in retail establishments where the nature of the business is to make appointments with customers (such as salons, doctors’ offices, and health clubs where appointments are made for personal training or classes are scheduled) the sale of such products or services within such retail facilities must be conducted by a representative and must be preceded by a discussion where the representative introduces the prospect to the products or services and opportunity just as they would if they had met outside of the retail facility.&nbsp;&nbsp;Company produced literature, banners, or signage only may be displayed on a shelf, counter, or wall and must be displayed by itself.&nbsp;&nbsp;Products or services may not be sold from a shelf or taken from a display for purchase by a customer.&nbsp;&nbsp;Company products or services may not be sold in any retail establishment, even by appointment, if competitive products or services are sold in the establishment.&nbsp;&nbsp;From time to time, the Company may announce policies and rules that expand or contract restrictions on sales in retail establishments.&nbsp;</li></ul>



            <ul><li>Trade Shows.With written authorization from the Company, Company products or services and opportunity may be displayed at trade shows by representatives. Request for participation in trade shows must be received in writing by the Company at least two weeks prior to the show. Written authorization from the Company must be received before participating in the trade show.&nbsp;Unless written authorization is secured from the Company, Company products or services and opportunity are the only products or services and/or opportunity that may be offered in the trade show booth. Only Company produced marketing materials may be displayed or distributed. No representative may sell or promote the Company’s products or services or business opportunity at flea markets, swap meets, or garage sales.</li></ul>



            <ul><li>International Sales.&nbsp;<strong>Note: M</strong><strong>ust have a valid U.S.A. address in order to obtain membership</strong>.</li></ul>



            <p>No independent representative may export or sell directly or indirectly to others who export the Company’s products, literature, sales aids or promotional material relating to the Company, its products or services or the Company’s program from the United States or its possessions or territories to any other country.&nbsp;&nbsp;Independent representatives who choose to sponsor internationally may do so only in countries in which the Company has registered to operate its business and must comply fully with the Rules of Operation of a Company representative position in that country.&nbsp;&nbsp;Any violation of this rule constitutes a material breach of this contract and is grounds for immediate termination of the representative position.</p>



            <ul><li>The Company reserves the right to approve or disapprove representative’s change of business names, formation of partnerships, corporations, and trusts for tax, estate planning, and limited liability purposes.&nbsp;&nbsp;If the Company approves such a change by representative, the organization’s name and the names of the principals of the organization must appear on the representative application/agreement along with a social security number or federal identification number.&nbsp;&nbsp;It is prohibited to make changes to attempt to circumvent or violate Company rules on raiding, solicitation, targeting, cross-sponsoring or interference.</li></ul>



            <ul><li>The independent representative agreement may be canceled at any time and for any reason by a representative notifying the Company in writing of the election to cancel.</li></ul>



            <ul><li>If a representative elects not to renew his\her representative agreement, all rights to bonuses, marketing position and wholesale purchases cease.&nbsp;&nbsp;The terminated representative’s sales organization shall be transferred to his\her sponsor.</li></ul>



            <ul><li>Although the Company markets services as opposed to tangible products, it has adopted these buyback rules to promote consumer protection standards, and such rules will be honored in the event the Company offers tangible products at any time.&nbsp;&nbsp;&nbsp;If the independent representative has purchased products for inventory purposes or mandatory sales aids while the representative agreement was in effect, all products in a resalable condition then in possession of the independent representative, which have been purchased within twelve (12) months of cancellation, shall be repurchased.&nbsp;&nbsp;The repurchase shall be at a price of not less than ninety percent (90%) of the original net cost to the participant returning such goods, taking into account any sales made by or through such participant prior to notification to the Company of the election to cancel. Buyback is 12 months in Massachusetts, Maryland, Montana, Georgia, Louisiana, Wyoming, Texas, Oklahoma, Idaho, Utah, Washington, South Dakota and Puerto Rico. In addition, the company will honor statutory mandated buyback requirements of every jurisdiction.&nbsp;&nbsp;&nbsp;A Montana resident may cancel his or her Agreement within 15 days from the date of enrollment, and may return his or her starter kit for a full refund within such time period.</li></ul>



            <ul><li><strong>The Company shall be entitled to repayment of any commission previously paid on a sale of product/service if the product/service purchase is cancelled or reversed or a refund paid for a terminated purchase. The Company shall recover the commission by adjustment on the next month’s representative check payment. In the event that no commission is available for adjustment in the following month, the representative who has received the commission shall repay the commission paid on the “reversed sale” within 30 days of the Company’s notice to repay.</strong></li></ul>



            <ul><li>The Company shall be entitled to change product or service prices at any time and without notice, and to make changes in the statement of policy and procedures.</li></ul>



            <ul><li>Each representative shall comply with all state and local taxes and regulations governing the sale of Company products or services.</li></ul>



            <ul><li>Notwithstanding the Company’s longer retail customer guarantee policy, all retail sales must comply with the FTC Three-Day Cooling Off Rule which requires statutory language and notice of cancellation on the retail sales receipt.&nbsp;&nbsp;The three-day right of cancellation (five days in Alaska) must be orally explained to the customer and the customer must receive two copies of the notice of cancellation form.&nbsp;The membership is month to month and, other than the first month’s 30 day satisfaction guarantee, with respect to subsequent months, the purchaser will not be provided a pro-rate or cancellation refund for a mid-month cancellation. Company consultants should also explain that the company had adopted an extended right of cancellation and refund during the first 30 days of subscriber service, as follows:</li></ul>



            <p>Notwithstanding the above statutory 3 day right of cancellation, the Company offers a longer first month right of cancellation 30 day satisfaction policy. If at any time prior to the end of the first month subscription, the subscriber requests cancellation for the first month of service, the Company will refund the complete payment for the first month.</p>



            <ul><li><strong>Prohibition on Raiding and Cross-Solicitation of Products or Other MLM and/or Business Opportunities</strong><strong>.&nbsp;&nbsp;The Company takes seriously its responsibility to protect the livelihood of its sales force and to the hard work invested to build a sales organization.&nbsp;Raiding and solicitation actions in which representatives seek to raid and solicit other representatives in the sales organization to noncompany products and services and to other MLM/business opportunities, severely undermines the marketing program of the Company, interferes with the relationship between the Company and its sales force and destroys the livelihood of other representatives who have worked hard to build their own business, the business of their sales force and benefits they have earned by helping to build a sales organization.&nbsp;Therefore, representatives shall not directly or indirectly sell to</strong>, nor solicit from,&nbsp;other Company representative’s non-company products or services, or in any way promote to&nbsp;other Company representatives business&nbsp;opportunities in marketing programs of other MLM or business opportunity companies at any time.&nbsp;&nbsp;ACompany representative shall not engage in any recruiting or promotion activity that targets Company representatives for opportunities or products of other direct selling companies or business opportunities, either directly or indirectly, by themselves or in conjunction with others, nor shall a representative participate, directly or indirectly, in interference, raiding or solicitation activity of Company representative for other direct selling companies or business opportunities.&nbsp;Unless approved in writing by the Company, this prohibition includes sales or solicitation of noncompany products or services at meetings organized for Company sales, promotion, training recruitment, demonstration, etc.&nbsp;&nbsp;This prohibition on targeting, interference, soliciting and raiding shall be in effect during the term of the representative agreement and for a period of three (3) years after the termination of the representative agreement.&nbsp;&nbsp;For the term of this agreement and for three (3) years after termination hereof, a representative shall not, directly or indirectly, recruit any of Company’s representatives to join other direct sales or network marketing companies nor solicit, directly or indirectly, Company’s representatives to purchase services or products, or in any other way interfere with the contractual relationships between Company and its representatives.</li></ul>



            <ul><li>On a periodic basis, the Company will supply data processing information and reports to the representative, which will provide information concerning the representative’s downline sales organization, product purchases and product mix. The representative agrees that such information is proprietary and confidential to the Company and is transmitted to the representative in confidence. The representative agrees that he or she will not disclose such information to any third party directly or indirectly, nor use the information to compete with the Company directly or indirectly during or after the term of the agreement. The representative and the Company agree that, but for this agreement of confidentiality and nondisclosure, the Company would not provide the above confidential information to the representative. A representative seeking to sell his/her representative position must acknowledge and agree to this provision prior to the finalization of the sale of their representative position.&nbsp;</li></ul>



            <ul><li>Vendor Confidentiality.&nbsp;&nbsp;The Company’s business relationship with its vendors, manufacturers and suppliers is confidential.&nbsp;&nbsp;A representative shall not contact, directly or indirectly, or speak to or communicate with any representative of any supplier or manufacturer of the Company except at a Company sponsored event at which the representative is present at the request of the Company.&nbsp;&nbsp;Violation of this regulation may result in termination and possible claims for damages if the vendor/manufacturer’s association is compromised by the representative contact.</li></ul>



            <ul><li>A representative shall take appropriate steps to safeguard the protection of all private information provided by a consumer, a prospective consumer and/or other independent representatives.</li></ul>



            <ul><li>Change in Status.&nbsp;&nbsp;&nbsp;</li></ul>



            <p>Marriage/Statutory Domestic Partnership: Two Company representatives, who marry or enter into a statutory domestic partnership, after having established their own individual representative positions, may continue to operate their existing representative positions, as long as they do not originate from the same line.&nbsp;&nbsp;If they originate from the same line, then the couple has the choice of either selling or resigning from one of their representative positions, at their discretion.&nbsp;</p>



            <p>Divorce/Dissolution: Should a couple become divorced or enter into a dissolution, they agree to notify the Company as to who will assume responsibility for the representative position in one of the following manners:</p>



            <ol><li>Written notarized agreement signed by both parties indicating who will retain the representative position.&nbsp;</li><li>A court order delineating who receives custody over the representative position.&nbsp;</li><li>Both parties may choose to retain their joint representative position and operate it as a partnership.</li></ol>



            <p>The divorced/dissolved representative may apply for a new representative position without having to wait 12 months<em>.&nbsp;</em></p>



            <p>Death: Upon the death of a representative, the rights and responsibilities of the representative position may be passed on to the rightfully legally documented heir as long as that person has filled out a new representative application/agreement and completed the required training.</p>



            <p>Disability: Should a representative become disabled to the extent that he/she can no longer fulfill the required duties of the Company representative, such disabled representative’s legal representative or conservator shall:</p>



            <ol><li>Contact the Company within thirty (30) days of the disability and advise the Company of the representative’s status and the plans for future management or cancellation of the representative position.&nbsp;</li><li>Provide notarized or court confirmed copy of appointment as legal representative or conservator.&nbsp;</li><li>Provide notarized or court confirmed copy of document establishing right to administer the Company business.&nbsp;</li><li>Should the legal representative or conservator plan to continue the business of the representative position, then he/she shall fill out a new representative application/agreement and receive the required training consistent with the disabled representative’s level at the time of disability.&nbsp;&nbsp;</li><li>These requirements shall be satisfied within a deadline of six months.&nbsp;</li></ol>



            <ul><li>Sale or Transfer.&nbsp;A representative may not sell, assign or otherwise transfer his or her representative position, marketing position or other representative rights without written application and approval by the Company.&nbsp;This paragraph is also applicable to transfer of any interest in an entity that owns a representative position, including but not limited to corporation, partnership, trust or other non-individual entity.&nbsp;&nbsp;The potential buyer must be at the equivalent or higher rank as the selling representative or have been a Company representative for at least a one‑year period prior to the sale.&nbsp;&nbsp;The representative position must be offered in writing first to the representative’s sponsor.&nbsp;&nbsp;If the sponsor declines the offer, the representative may offer the representative position for sale to other qualified Company representatives, but only on the same terms and conditions as offered to the sponsor.&nbsp;&nbsp;A representative who sells his or her representative position shall not be eligible to requalify as a representative for a period of at least six months after the sale. The Company reserves the right to review the sale agreement and to verify waiver from the upline sponsor in the event the upline sponsor declines to purchase the representative position.</li></ul>



            <p>A representative may not add a co-applicant to their representative position and thereafter, remove their name from the representative position, as an effort to circumvent the Company’s sale, assign, and delegate or merger procedure.&nbsp;The primary representative must wait twelve (12) months after adding a co-applicant to the representative position before they are allowed to remove their name from the representative position.&nbsp;It is prohibited to use a sale or transfer to attempt to circumvent Company policy on raiding, soliciting, cross-sponsoring or interference.</p>



            <p>For the term of three (3) years after sale or transfer, a representative agrees that he/she shall not, directly or indirectly, disrupt, damage, impair or interfere with the business of Company, whether by way of interfering with, or raiding its employees or representatives, disrupting its relationship with customers, agents, representatives, representatives, suppliers, vendors or manufacturers or otherwise.&nbsp;&nbsp;“Disrupting” or “interfering” shall include, but not be limited to, direct or indirect solicitation or recruitment for other direct selling business opportunities or products or services of other direct selling companies.&nbsp;&nbsp;A representative seeking to sell or transfer his/her representative position must acknowledge and agree to this provision prior to the finalization of the sale or transfer of their representative position.</p>



            <ul><li>This statement of policies and procedures is incorporated into the independent representative agreement and constitutes the entire agreement of the parties regarding their business relationship.&nbsp;</li></ul>



            <ul><li>The Company expressly reserves the right to alter or amend prices, Rules and Regulations, Policies and Procedures, product availability and compensation plan. Upon posting, in writing, such amendments are automatically incorporated as part of the agreement between the Company and the representative. Company communication of changes may include, but shall not be limited to mail, email, fax, posting on the Company website,&nbsp;publication in company newsletters or magazines, etc.</li></ul>



            <ul><li>Non-Individual Ownership.&nbsp;&nbsp;A partnership or corporation may be a representative.&nbsp;&nbsp;However, no individual may participate in more than one (1) representative position in any form without express written permission from the Company.&nbsp;&nbsp;Only in the most extreme and extraordinary circumstances will this be considered.</li></ul>



            <ol><li>A representative position may change status under the same sponsor from individual to partnership or corporation or from partnership to corporation with proper and complete documentation.<ol><li>To form a new representative position as a partnership or corporation or to change status to one of these forms of business, you must request a partnership/corporation form from the corporate home office.&nbsp;&nbsp;This form must be submitted detailing all partners, stockholders, officers or directors in the partnership or corporation.&nbsp;&nbsp;The partner or officer who submits the form must be authorized to enter into binding contracts on behalf of the partnership or corporation.&nbsp;In addition, by submitting the partnership/corporation form, you certify that no person with an interest in the business has had an interest in a representative position within three (3) months of the submission of the form (unless it is the continuation of an existing representative position that is changing its form of doing business).</li></ol></li></ol>



            <ul><li>Individual and Entity Ownership Information.&nbsp;</li></ul>



            <ol><li>An individual can have only one representative position in the Company. He/she may not own any other representative position, either individually or jointly, nor may he/she participate as a partner, owner, stockholder, trustee, director, or association member in more than one representative position in any form.&nbsp;<ol><li>An individual shall provide the Company with a Social Security Number or a Taxpayer Identification Number (TIN) on an IRS W-9 form.&nbsp;&nbsp;No individual operating under a fictitious name and no partnership, corporation or other business entity may become a Company representative without submitting an “Entity Information” form following enrollment of proprietorship, corporation, Limited Liability Corporation (LLC), trust or partnership.&nbsp;</li></ol></li></ol>



            <ul><li>Proprietorship: A copy of fictitious name filing must be submitted, plus a W-9 form.&nbsp;<ul><li>Corporation: Copies of articles of incorporation are required, including the page with state seals and notarization. These articles will show who the principals are and prove validation of Federal ID Number/Business Number/E.I.N, plus a W-9 form.&nbsp;<ul><li>LLC: IRS acceptance only. The name on the IRS acceptance is required to state the LLC in order to use it as an LLC, plus a W-9 form.&nbsp;</li></ul><ul><li>Trust: An affidavit of trust with the notarized copy of the power of attorney is necessary.&nbsp;&nbsp;If Federal ID Number is to be used and is not noted in the affidavit, an IRS acceptance will be required, plus a W-9 form.</li></ul><ul><li>Partnership: To register as a partner, complete the partnership portion of the Entity Information form, along with all signatures that apply, plus a W-9 form.</li></ul></li></ul></li></ul>



            <ul><li>Entity Guarantee for Owners: Although Company has offered representatives the opportunity to conduct their representative position as corporate, LLC, trust or partnership entities, it is agreed that since the representative position entity is under the control of its owners or principals, the actions of individual owners or beneficiaries as they may affect Company and the representative position are also critical to Company’s business. Therefore it is agreed that actions of the ownership entity shareholders, officers, directors, trustees, beneficiaries, agents, employees or other related or interested parties and the actions of such parties, which are in contravention to Company’s policies shall be attributable to the corporate, LLC, trust or partnership entity.&nbsp;</li></ul>



            <p>In the event that any of the ownership entity shareholders, officers, directors, trustees, beneficiaries, agents, employees or other related parties shall terminate ownership interests in the representative position, any breaching actions by such parties that continue to have a beneficial financial interest, directly or indirectly, in the representative position shall be attributable to the representative position.&nbsp;</p>



            <ul><li>Members of Same Household; Responsibility.&nbsp;Members of representative’s household may operate together as one Company representative position, but may not become separate Company representatives. Household is defined as husband, wife, parties to a statutory recognized domestic partnership and dependents. Note: Children of legal age to contract and at least 18 years of age are not considered a part of their parents’ household.&nbsp;</li></ul>



            <p>Company recognizes that members of the same household may belong to competing direct selling opportunities.&nbsp;&nbsp;Although the actions of the parties are normally in good faith, in some circumstances, there is an abuse of relationships in which the non-company household member is engaged in recruitment, solicitation or raiding of the Company sales organization. Since the household member that has an ownership interest in the Company representative position is in the best position to be responsible to prevent raiding or cross-sponsoring activity by their co-household member, the cross-recruiting activity of the non-company household member shall be attributed to the Company representative position, subjecting the representative position to discipline or termination.&nbsp;</p>



            <ul><li>It is agreed that Company is authorized to use Representative’s name, photograph, personal story and/or likeness in advertising or promotional materials and Representative waives all claims for remuneration for such use.</li></ul>



            <ul><li>Disciplinary Actions.&nbsp;&nbsp;A representative’s violation of any policies and procedures, the agreement, terms and conditions or any illegal, fraudulent, deceptive, or unethical business conduct may result, at the Company’s discretion, in one or more of the following disciplinary actions:<ul><li>Issuance of a written warning or admonition.</li></ul><ul><li>Imposition of a fine, which may be imposed immediately or withheld from future commission checks.</li></ul><ul><li>Reassignment of all or part of a representative’s organization.</li></ul><ul><li>Suspension, which may result in termination or reinstatement with conditions or restrictions.</li></ul><ul><li>Termination of the representative.</li></ul></li></ul>



            <ul><li>The Company reserves the right to terminate any representative position at any time for cause when it is determined that the representative has violated the provisions of the representative agreement, including the provisions of these policies and procedures as they may be amended or the provisions of applicable laws and standards of fair dealing.&nbsp;&nbsp;Such involuntary termination shall be made by the Company at its discretion.&nbsp;&nbsp;Upon an involuntary termination, the Company shall notify the representative by mail at the latest address listed with the Company for the representative.&nbsp;&nbsp;In the event of a termination, the terminated representative agrees to immediately cease representing him/herself as a representative.</li></ul>



            <ul><li>Termination.&nbsp;<ul><li>When a decision is made to terminate a representative position, the Company will inform the representative in writing that the representative position is terminated immediately, effective as of the date of the written notification.&nbsp;&nbsp;The termination notice will be sent by certified mail to the representative’s address on file with the Company.&nbsp;</li></ul><ul><li>The representative will have 15 days from the date of mailing of the certified letter in which to appeal the termination in writing, and provide written response to the finding of violations of Company agreement, policies and/or rules.&nbsp;&nbsp;The representative’s appeal and/or response correspondence must be received by the Company within 20 days of the Company’s termination letter.&nbsp;&nbsp;If the appeal is not received within the 20‑day period, the termination will be automatically deemed final.</li></ul><ul><li>If a representative files a timely appeal of termination, the Company will review and reconsider the termination, consider any other appropriate action, and notify the representative of its decision.&nbsp;&nbsp;The decision of the Company will be final and subject to no further review.&nbsp;&nbsp;In the event the termination is not rescinded, the termination will be effective as of the date of the Company’s original termination notice.</li></ul></li></ul>



            <ul><li>All representatives have the right to sponsor others.&nbsp;&nbsp;In addition, every person has the ultimate right to choose his/her own sponsor.&nbsp;&nbsp;If two representatives should claim to be the sponsors of the same new representative, the Company shall regard the first application received by the corporate home office as controlling.</li></ul>



            <ol><li>As a general rule, it is good practice to regard the first representative to meaningfully work with a prospective representative as having first claim to sponsorship, but this is not necessarily controlling.&nbsp;&nbsp;Basic tenets of common sense and consideration should govern.<ol><li>As a convenience to its representatives, the Company may provide various methods of registering or informing the Company of newly sponsored representatives, including online internet registration, telephone registration and facsimile registration.&nbsp;&nbsp;Until such time as the Company receives an application, either as hard copy or by facsimile, containing all appropriate information, as well as the signature of the proposed new representative, the Company will only consider the internet, telephone or facsimile registration in the category of “intended” recognition of sponsor.&nbsp;&nbsp;Thus, although the Company is attempting to create some convenience for its sponsoring representatives, it is the responsibility of the sponsoring representative to cause delivery to the Company of a completed and signed representative agreement if the sponsor is to expect formal recognition as the official sponsoring representative.</li></ol><ol><li>There is no “magic” involved in the Company or in any business.&nbsp;&nbsp;Those who sponsor widely but who do not help new representatives develop their business meet with limited success.&nbsp;&nbsp;Therefore, a responsibility of sponsorship is to work with new representatives, helping them learn the business and encouraging them during the critical early months.</li></ol><ol><li>Sponsors are not required to carry inventory of products or sales aids for new representatives.&nbsp;&nbsp;When tangible product is involved, representatives who do so, however, find building a major sales organization much easier because of the decreased response time in meeting a new representative’s needs.</li></ol><ol><li>When soliciting a prospective representative to join the Company’s network program, the representative must clearly explain the following:</li></ol></li></ol>



            <ul><li>Products: type, performance and quality of each product.<ul><li>Compensation plan<ul><li>Policies and Procedures.</li></ul><ul><li>Representative’s rights and duties.</li></ul><ul><li>Other important items that will affect the judgment of the prospective representative.</li></ul></li></ul></li></ul>



            <ul><li>Transfer of Sponsorship.&nbsp;Transfer is rarely permitted and is actively discouraged.&nbsp;&nbsp;Maintaining the integrity of sponsorship is absolutely mandatory for the success of the overall organization.</li></ul>



            <ol><li>Transfers will generally be approved in three (3) circumstances only:<ol><li>In the case of unethical sponsoring by the original sponsor.&nbsp;&nbsp;In such cases, the Company will be the final authority.<ol><li>With the written approval of the immediate five (5) upline sponsors.</li></ol><ol><li>Resigning from the Company entirely and waiting three (3) months to reapply under the new sponsor.</li></ol></li></ol><ol><li>In cases of unethical sponsoring, the individual may be transferred with any downlines intact; in all other events, the individual alone is transferred without any downline representatives being removed from the original line of sponsorship.</li></ol></li></ol>



            <ul><li>To be eligible for monthly override commissions and bonuses, the representative must comply with:<ul><li>Supervisory responsibility requirements as outlined herein.</li></ul><ul><li>70% rule on resale of wholesale product ordered, and</li></ul><ul><li>Retail sales rule requiring sales to at least five (5) non-participant retail customers per month.&nbsp;&nbsp;</li></ul><ul><li>The requirement that his/her downline has retailed product which has been purchased at wholesale.</li></ul></li></ul>



            <ul><li>The Company encourages each independent representative to keep accurate sales records. The program is based upon retail sales to the ultimate consumers; therefore, all forms of stockpiling or pyramiding are prohibited.&nbsp;&nbsp;Products and services are offered to representatives only for personal consumption and for resale to consumers.</li></ul>



            <ul><li>See specific addenda to representative agreement for specific states as to statutory purchasing limitations, buyback rules and other restrictions, disclosures and additional representative rights and responsibilities.&nbsp;&nbsp;In any state with a business opportunity statute, required expenditures during the first six months shall not exceed the statutory amount that initiates applicability of the state business opportunity statute.</li></ul>



            <ul><li>Income Claims.&nbsp;No income claims, income projections nor income representations may be made to prospective representatives.&nbsp;Obviously, any false, deceptive or misleading claims regarding the opportunity or product\service are prohibited.&nbsp;In their enthusiasm, representatives are occasionally tempted to represent hypothetical income figures based upon the inherent power of network marketing as actual income projections.&nbsp;This is counter-productive, since new representatives may be quickly disappointed if their results are not as extensive or as rapid as a hypothetical model would suggest.&nbsp;&nbsp;The Company believes firmly that the income potential is great enough to be highly attractive in reality without resorting to artificial and unrealistic projections.</li></ul>



            <ul><li>Representation of Status.&nbsp;In all cases, any reference the representative makes to him/herself must clearly set forth the representative’s independent status.&nbsp;&nbsp;For example, if the representative has a business telephone, the telephone may not be listed under the Company’s name or in any other manner which does not disclose the independent contractor status of the representative.</li></ul>



            <ul><li>Judgment and Tax Liens<strong>.</strong><strong>&nbsp;&nbsp;</strong>The Company will comply fully with any court order or instruction/demand by any government taxing authorities within the United States and Canada that orders, instructs or demands the withholding of a representative’s earnings from his/her representative position with the Company.</li></ul>



            <ul><li>Subpoenas Duces Tecum (Demands for Records).&nbsp;&nbsp;Assuming proper jurisdiction, the Company will comply with all subpoenas duces tecum demanding financial compensation records of a representative in his/her capacity as an independent contractor with the Company.</li></ul>



            <ul><li>Requests for Records.&nbsp;The Company will comply fully with all requests for records accompanied by a properly prepared and signed authorization by the person whose records are being sought.&nbsp;&nbsp;The Company will comply fully with all requests for records by government agencies with the authority to request such records and accompanied by the requisite legal documentation.</li></ul>



            <ul><li>Newspaper Advertisements.&nbsp;&nbsp;Some independent representatives use classified advertising in the newspapers to find prospects. The following rules apply:</li></ul>



            <ul><li>No advertisement may imply that a “job” or “position” is available.</li><li>No specific income can be promised.</li><li>Advertisements must contain no misleading facts or distortions of the Company opportunity or product line.</li></ul>



            <ul><li>Business Cards and Stationery.&nbsp;&nbsp;Any printed materials, including business cards and stationery, must be approved by the Company in advance.&nbsp;&nbsp;Criteria for approving these materials will include a judgment regarding the quality of the materials as well as properly setting forth the independent status of the representative.</li></ul>



            <ul><li>Telemarketing Techniques. The Federal Trade Commission and the Federal Communications Commission each have laws that restrict telemarketing practices.&nbsp;&nbsp;Both federal agencies (as well as a number of states) have “do not call” regulations as part of their telemarketing laws.&nbsp;&nbsp;Although the Company does not consider representatives to be “telemarketers” in the traditional sense of the word, these government regulations broadly define the term “telemarketer” and “telemarketing” so that your inadvertent action of calling someone whose telephone number is listed on the federal “do not call” registry could cause you to violate the law.&nbsp;Moreover, these regulations must not be taken lightly, as they carry significant penalties.&nbsp;</li></ul>



            <p>Therefore, representatives must not engage in telemarketing in the operation of their Company businesses.&nbsp;&nbsp;The term “telemarketing” means the placing of one or more telephone calls to an individual or entity to induce the purchase of a Company product or service, or to recruit them for the Company opportunity. “Cold calls” made to prospective customers or representatives that promote either Company products or services or the Company opportunity constitute telemarketing and are prohibited.&nbsp;However, a telephone call(s) placed to a prospective customer or representative (a “prospect”) is permissible under the following situations:</p>



            <ol><li>You may call family members, personal friends, and acquaintances.&nbsp;&nbsp;An “acquaintance” is someone with whom you have at least a recent first-hand relationship within the preceding three (3) months.&nbsp;&nbsp;Bear in mind, however, that if you make a habit of “card collecting” with everyone you meet and subsequently calling them, the FTC may consider this a form of telemarketing that is not subject to this exemption.&nbsp;Thus, if you engage in calling “acquaintances,” you must make such calls on an occasional basis only and not make this a routine practice.<ol><li>The prospect’s personal inquiry or application regarding a product or service offered by the representative, within the three (3) months immediately preceding the date of such a meeting.</li></ol><ol><li>If the representative has an established business relationship with the prospect.&nbsp;&nbsp;An “established business relationship” is a relationship between a representative and a prospect based on the prospect’s purchase, rental or lease of goods or services from the representative, or a financial transaction between the prospect and the representative within the eighteen (18) months immediately preceding the date of a telephone call to induce the prospect’s purchase of a product or service.</li></ol><ol><li>If the representative receives written and signed permission from the prospect authorizing the representative to call.&nbsp;&nbsp;The authorization must specify the telephone number(s) which the representative is authorized to call.</li></ol><ol><li>In addition, representatives shall not use automatic telephone dialing systems relative to the operation of their Company businesses.&nbsp;The term “automatic telephone dialing system” means equipment which has the capacity to (a)&nbsp;&nbsp;store or produce telephone numbers to be called, using a random or sequential number generator, and (b)&nbsp;&nbsp;to dial such numbers.</li></ol></li></ol>



            <ul><li>Press Inquiries.&nbsp;Any inquiries by the media are to be referred immediately to the Company.&nbsp;&nbsp;This policy is to assure accuracy and consistent public image.</li></ul>



            <ul><li>Social Networking.&nbsp;&nbsp;If done correctly and in compliance with Company policies, social networking may be useful in driving traffic to the official Company website and to Company authorized personal replicated websites of distributors and representatives.&nbsp;&nbsp;The following rules and guidelines, regarding social networking, are applicable:</li></ul>



            <ol><li>The Company encourages representatives to join online forums, discussion groups, blogs, and other forms of Internet communication for the purpose of communicating the benefits of Company products and opportunity.&nbsp;&nbsp;Internet social networking is similar to telephoning, emailing, and other technology-assisted communication: it is not a violation so long as it complies with the general policies and procedures governing claims and contacting. Social networks include such sites as FaceBook, LinkedIn, MySpace, and so on.&nbsp;Additionally, there are social networks of like-minded persons.&nbsp;&nbsp;You may find social networks by doing a Google search using varying topics.&nbsp;<ol><li>You must comply with the rules associated with websites and networks.&nbsp;&nbsp;For instance, some sites prohibit the marketing of financial opportunity or the selling of products.&nbsp;&nbsp;On such sites, you may instead choose to share your testimonial of benefits from the technology of the Company; or you may want to talk about how your life is improving. When others in the network hear your testimonial, they will naturally inquire … and that is the opportunity to send them to your authorized Company website.</li></ol><ol><li>Upon notifying the Company compliance department via email for review, you may publish YouTube, MySpace and other communications.&nbsp;&nbsp;You must supply for content review a link to the material you have posted.&nbsp;&nbsp;In the event your material is found to be noncomplying, you will be required to remove it within 24 hours.&nbsp;</li></ol><ol><li>If you are on FaceBook or other social networking sites, join our “Fans” or comparable pages.&nbsp;&nbsp;Here are some guidelines (do and do not’s) for you to follow as you use FaceBook, or other social networking sites, to grow your business online.&nbsp;</li></ol></li></ol>



            <p><strong>Acceptable Social Network Etiquette&nbsp;</strong></p>



            <ul><li>Do not send more than the allowed friend invites per day or your account may be deactivated.</li></ul>



            <ul><li>Do not post anything to someone’s wall about the Company if they have asked you to stop.</li></ul>



            <ul><li>Do not send emails with links to anyone you do not know unless they have asked for the link.</li></ul>



            <ul><li>Do not post more than the allowed times per day to anyone else’s walls, as deactivation may occur.&nbsp;&nbsp;</li></ul>



            <p><strong>Social Network Etiquette NOT Recommended</strong></p>



            <ul><li>Post as much as you like to your wall,</li><li>Comment as much as you like on your photos and links.</li><li>Post as many links on your page.</li></ul>



            <p>A representative must treat FaceBook or any other “virtual world” forum just like real life but in the virtual space.&nbsp;&nbsp;Your property is your page while other people’s pages are their property; and this “ownership” must be respected as if it were the real property of your neighbor.&nbsp;&nbsp;This simple approach will keep you out of trouble with social networking sites and help us maintain the integrity of the Company.</p>



            <ul><li>Internet Search Engine Optimization.</li></ul>



            <ol><li>Representatives may use, reference, or incorporate the Company names and trademarks in approved Internet advertising.</li><li>When participating in chat rooms and other social media, Company representatives may use approved Company language (as represented in the brochures, promotional and training materials of the Company and on the Company website) for the purpose of discussing the Company products and opportunity.</li><li>Representatives may use the language of approved Company literature for Internet advertising. Company trademarks, trade names, or product names, or any variations thereof, may not be used in search engines.</li><li>Representatives may communicate the benefits of Company products on the Internet and on search engines in appropriate categories.&nbsp;</li><li>Representatives may not use language that is sexually explicit, threatening, pornographic, violent or otherwise prohibited.</li><li>In no way should any independent website or link give the&nbsp;&nbsp;&nbsp;impression of being the official website of the Company, rather than that of a Company representative.&nbsp;&nbsp;All Internet advertising must clearly report that the ad is placed by a “Representative” of the Company.</li><li>Representatives may use words from approved Company advertising as “key words” for the purpose of having communications found by search engines.</li><li>With the exception of the representative’s authorized hosted Company website, the use of the Company name within a URL address/domain name, directory, file name, e-mail address, or any derivative thereof, is not permitted&nbsp;(by way of example, but not limited to the varying derivatives of the name of&nbsp;theCompany that use the Company name in the URL or domain name.&nbsp;&nbsp;Company representatives may not use any domain name or email address that includes any reference, whether abbreviated or not, to the Company name, products or services, except in connection with the Company representative’s authorized replicated Company website.</li><li>Company representatives may not publish, post, or distribute any material on their websites or in conversation or postings on the Internet, including blogs and social networking in connection with the Company that is defamatory, libelous, disparaging, threatening, offensive, harassing, abusive, obscene, pornographic, in violation of applicable law or that inhibits others from enjoying the Company’s main website or the Company representatives’ websites.</li><li>Determination of whether a link is objectionable is solely at the&nbsp;&nbsp;&nbsp;discretion of the Company.</li><li>Representatives may not use tactics such as “cloaking” or other deceptive means on the representatives’ web pages&nbsp;&nbsp;<em>(For example: Cloaking in Google terms means designing a website so that search engines see one thing and visitors see another.)</em></li><li>As a practical matter, Company representatives should make sure that any advertising through digital media, such as the Internet and email, is fully compliant with Company policies and procedures, Internet Compliance Department and existing laws and regulations.</li><li>Company representatives may not sell or advertise products over the Internet through independently designed shopping carts or websites that use the names, logos, product or income testimonials, compensation plan or product description(s) of the Company.&nbsp;&nbsp;Representatives may send “general mailings” only to representatives in their downline organizations and their direct upline enrolls. Any other bulk use of email is prohibited by the Company and will result in immediate discipline which may result in termination of representative rights and benefits and the loss of representative rights, including sales organizations and compensation.&nbsp;&nbsp;Various kinds of prohibited emails – either bulk or individual – include, but are not limited to the following:</li></ol>



            <ul><li>Totally Unsolicited or Blind Mass Email<strong>.</strong>&nbsp;&nbsp;&nbsp;Many&nbsp;<strong>“</strong>lists<strong>“</strong>that can be purchased for distribution over the Internet have been illicitly compiled and result in completely unsolicited information being sent to uninterested parties.&nbsp;&nbsp;Since the expense is so low to distribute to these lists, they are even more prevalent than bulk-mailings through traditional channels.&nbsp;&nbsp;Any use of a list not specifically approved by the Company or compiled from a legitimate genealogical listing of the emailer’s downline organization is subject to immediate discipline.<ul><li>Hidden Approval Mass Email.&nbsp;&nbsp;&nbsp;Sites that garner approval by having hidden, discreet or nonprominent “buttons” that are selected by default rather than choice are illegal.&nbsp;&nbsp;For instance, if it is necessary to de-select approval to keep from being added to a list (rather than requesting to be added), the resulting list is illegal.&nbsp;&nbsp;Many supposedly “approved lists” have in fact been gathered illicitly through this means.&nbsp;<ul><li>Third Party Approval for Mass Email.&nbsp;&nbsp;Companies that gather approval from inquiries, then sell the lists to third parties where the person giving approval is not informed that a third party will contact them, compile illegal lists.&nbsp;&nbsp;These companies frequently distribute too many third parties who “bury” the user with many emails.</li></ul><ul><li>Legal and Ethical Email Communication.&nbsp;&nbsp;&nbsp;Email is by its nature personal and mutual:&nbsp;&nbsp;An appropriate Company email is a communication in which both parties are interested.&nbsp;&nbsp;Rather than requiring denial to terminate (“If you want your name removed from this list …”), it requires consent to initiate. Any email communication which violates this premise is potentially illegal and subjects the author to disciplinary review.</li></ul><ul><li>Specifically Illegal Practices:&nbsp;&nbsp;False Reply-To Address.&nbsp;&nbsp;Any attempt to disguise the identity of the emailer will be taken as evidence for the intent of fraud and subject the sender to immediate discipline.</li></ul><ul><li>Linking.No links may be made from an independent representative website, except as provided or authorized by the Company.&nbsp;&nbsp;Authorized links include:</li></ul></li></ul></li></ul>



            <ul><li>Links made to a Company representative website for the purpose of Company communication, so long as such communication does not violate the terms and conditions of this agreement and such agreements as a Company representative has with the Company.</li><li>Links from blogs and social networking sites joined for the purpose of networking, marketing, sponsoring, and selling the Company products. The trademarks, names, and identities of the Company are for the exclusive use and licensing of the Company.&nbsp;&nbsp;The purpose of the Company licensing of representative sites is to supervise and control the content by which Company products and opportunity are marketed. Any effort to circumvent this authorization and supervision will be regarded as a violation of the rules and regulations and subject to immediate discipline, and social network and/or participating in the conversations of blogs must conform with these standards.</li><li>Lawful use of the Internet.&nbsp;&nbsp;The Company supports all laws and regulations regarding use of the Internet, the Worldwide Web, and all other communication technologies.&nbsp;&nbsp;Any person associated with the Company program found in violation of said rules and regulations, including, but not limited to spamming (unsolicited bulk contact using the Internet), etc., is subject to immediate discipline.&nbsp;</li><li>Internet Banner Advertising, etc.&nbsp;&nbsp;Banner advertising is bound by the same policies and procedures affecting other forms of advertising and must conform to general policies and procedures.&nbsp;</li></ul>



            <ul><li>Federal and state regulatory agencies rarely approve or endorse direct selling programs.&nbsp;Therefore, representatives may not represent that the Company’s program has been approved or endorsed by any governmental agency.</li></ul>



            <ul><li>Indemnification and Hold Harmless.&nbsp;&nbsp;The independent representative hereby indemnifies and releases Company, its officers, directors, agents and assigns and holds harmless from and against the full amount of any and all claims, causes of action, judicial and administrative proceedings suits, charges, liabilities, losses, damages, costs and expenses, including without limitation court costs and reasonable fees and expenses of attorneys and representatives, which are or may be made, filed or assessed against Company at any time arising out of representative’s business operations and representations made by representative in the operation of his/her business, arising from the following:</li></ul>



            <ol><li>Violation and/or lack of compliance with terms of the representative agreement, policies and procedures, rules and regulations, marketing program manual or guidelines or any other directive from the Company as to method and manner of operation of the independent representative business;<ol><li>Engaging in any conduct not authorized by the Company in the Company market program;</li></ol><ol><li>Any fraud, negligence or willful misconduct in the operation of the independent representative business;</li></ol><ol><li>Misrepresentation or unauthorized representation regarding the Company’s product or service, marketing opportunity or potential or the Company’s marketing program;</li></ol><ol><li>Failure to adhere to any federal, state or local law, regulation, ordinance and/or any order or rule issue by any court of appropriate jurisdiction;</li></ol><ol><li>Engaging in any action which exceeds the scope of authority to the representative as granted by the Company;</li></ol><ol><li>Engaging in any activity over which Company has no effective control as to the actions of the representative.</li></ol><ol><li>Engaging in the general business operations of representative’s business.</li></ol></li></ol>



            <ul><li>Waiver.&nbsp;The Company never gives up its right to insist on compliance with these rules or with the applicable laws governing the conduct of a business.&nbsp;&nbsp;This is true in all cases, both specifically expressed and implied, unless an officer of the Company who is authorized to bind the Company in contracts or agreements specifies in writing that the Company waives any of these provisions.&nbsp;&nbsp;In addition, any time the Company gives permission for a breach of the rules, that permission does not extend to future breaches. This provision deals with the concept of “waiver,” and the parties agree that the Company does not waive any of its rights under any circumstances short of the written confirmation alluded to above.</li></ul>



            <ul><li>Governing Law.&nbsp;These rules are reasonably related to the laws of the state of Arizona and shall be governed in all respects thereby.&nbsp;The parties agree that jurisdiction and venue shall lie with the place of acceptance of the representative application, the state of Arizona.</li></ul>



            <ul><li>Partial Validity.&nbsp;Should any portion of these Rules and Regulations, of the representative’s application and agreement, or of any other instruments referred to herein or issued by the Company be declared invalid by a court of competent jurisdiction, the balance of such rules, applications, or instruments shall remain in full force and effect.</li></ul>



            <ul><li><strong>Assignment</strong><strong>.&nbsp;&nbsp; It is expressly agreed that the Company shall have the right, without prior notice, to, assign, sell or transfer this Agreement, or any of its rights or obligations under this Agreement to any third person or entity.</strong><strong></strong></li></ul>

    </section>
</div>