@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
    ViewBag.Title = "Privacy Policy";
    ViewBag.HeaderImg = "/Content/images/shutterstock_513894895.jpg";
}
@section  PageHeader{
    @Html.Partial("Partials/_PageBanner")
}
<div class="container">
    <section class="contract-section" style="min-height:50vh;">
            <p class="ingress">CUSTOMER RETURN POLICY</p>



            <p class="has-small-font-size">Luxxium offers a money back guarantee on your purchases if you are not completely satisfied. If for any reason you find that your Luxxium products do meet your expectations you may return the items within thirty days from the purchase date, minus the shipping fees. We never charge for restocking fees regardless of the condition of the item. You may also exchange any unused, sealed products for a more suitable item within thirty days of purchase.</p>



            <p class="has-small-font-size">Autoship customers, please note that you have authorized a monthly shipment to be charged to you dedicated credit card. If you choose to return any items, you will still be enrolled in the autoship program unless cancelled.&nbsp;</p>



            <p class="has-small-font-size">Returned authorizations may be acquired by contacting Luxxium at (623) 335-LUXX (5899)</p>
    </section>
</div>