@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
    ViewBag.Title = "Terms + Conditions";
    ViewBag.HeaderImg = "/Content/images/shutterstock_678404389.jpg";
}
@section  PageHeader{
    @Html.Partial("Partials/_PageBanner")
}
<div class="container">
    <section class="contract-section">
            <p class="ingress">By accessing and browsing this website, you accept, without limitation or qualification, the following terms and conditions of use. If you do not agree, please discontinue your use of this website.</p>



            <p>Modification of Terms:</p>



            <p>Luxxium.com may, at any time and without notice, amend these terms and conditions (“Terms”), or may limit or deny access to, or change the content of, the website. You should periodically visit this page to review the then current Terms to which you are bound. These Terms are applicable to all Luxxium.com North American websites. When leaving this website, whether or not to visit another Luxxium.com website, please read the website terms and the privacy policy applicable to such website to ensure you understand and agree with the terms applicable to that website.</p>



            <p>Applicability:</p>



            <p>Information and materials displayed on the website, including without limitation, product pricing, specifications, warranty and/or other information, are applicable to products sold in the United States and not necessarily to Luxxium.com products sold in other markets.</p>



            <p>Restricted Use and Copyrights:</p>



            <p>All photographs, audio and video clips, picture images, graphics, links, website architecture, format, layout and data structures, and all other items contained on the website are copyrighted unless otherwise noted and may not be used in any manner, except as provided in these Terms or in the website text, without Luxxium.com’s prior written permission. Images of people or places and Luxxium.com products, are either property of, or used with permission by, Luxxium.com. Any unauthorized use of these materials may violate copyright, trademark and privacy laws, and other applicable statutes. You may browse this website and download or print a copy of material displayed on the website for your personal use only and not for redistribution, unless consented to in writing by Luxxium.com. This limited consent shall automatically terminate upon your breach of any of these website Terms.</p>



            <p>Disclaimers:</p>



            <p>All data contained on the website relating to third-party products or services, including but not limited to, prices, availability of service or product, product feature or service coverage, if any, should be verified with the manufacturer of the product or service. Luxxium.com may at any time without notice amend the data displayed on the website. While Luxxium.com endeavors to periodically update posted information, not all information may be current, and Luxxium.com does not guarantee the accuracy or reliability of such data. Luxxium.com is not responsible for any loss or damage caused by your reliance on any data contained on this website. This website is provided as a convenience to you on an “as is” and “as available” basis. Luxxium.com does not warrant that your access to these website Pages will be uninterrupted or error-free.</p>



            <p>NO WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF TITLE OR NON-INFRINGEMENT, OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, IS MADE IN RELATION TO THE AVAILABILITY, ACCURACY, RELIABILITY OR CONTENT OF THE SITE PAGES. CARCRAFTER LLC SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, LOST PROFITS, REVENUES OR DATA, OR LOSSES FOR BUSINESS INTERRUPTION ARISING OUT OF THE USE OF OR INABILITY TO USE THIS WEBSITE, EVEN IF CARCRAFTER LLC HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>



            <p>Luxxium.com assumes no responsibility and/or liability for any damages to or viruses that may infect your computer equipment or other property on account of or arising out of your use of or access to this website. Some jurisdictions do not allow exclusion of certain warranties or limitations of liability, so the above limitations or exclusions may not apply to you. Luxxium.com’s liability in any case shall, however, be limited to the greatest extent permitted by law.</p>



            <p>Links:</p>



            <p>Luxxium.com may include links to other sites on the Internet that are owned or operated by third parties. When visiting these third-party sites, you do so at your own risk. You should review and determine if you agree to a particular site’s terms and conditions of use before using such site. Luxxium.com does not control these sites and assumes no responsibility for their content. A link to a non-Luxxium.com site does not imply that Luxxium.com endorses the site or the products or services described on such sites.</p>



            <p>Submissions:</p>



            <p>Any communication or material you transmit to the website (including feedback, data, answers, questions, comments, suggestions, ideas, plans, orders, requests or the like) will be treated as non-confidential and non-proprietary. All materials transmitted to the website becomes the property of Luxxium.com and may be used for any purpose. Luxxium.com may publish the material and/or incorporate it or any concepts described in it in our products without compensation, restrictions on use, acknowledgement of source, accountability, or liability.</p>



            <p>Governing Law:</p>



            <p>This website is governed by and subject to the laws of the State of Florida and, where applicable, U.S. federal law.</p>
    </section>
</div>