@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@section  PageHeader{
    @Html.Partial("~/Views/Shared/Partials/_PageBanner.cshtml")
}

<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-4">
            @Html.Partial("~/Views/Shared/Partials/_LeftImageMenu.cshtml")
        </div>
        <div class="col-xs-12 col-md-8">
            <blockquote><p></p><p></p></blockquote>
            <h2>Our Member Experiences</h2>
        </div>
    </div>
</div>