@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@section  PageHeader{
    @Html.Partial("~/Views/Shared/Partials/_PageBanner.cshtml")
}

<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-4">
            @Html.Partial("~/Views/Shared/Partials/_LeftImageMenu.cshtml")
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="col-sm-12">
                <h2 style="text-align:left">About Us</h2>
            </div>
            <div class="space-20"></div>
            <div class="col-sm-12">
                <p>
                    Luxxium was created and brought to life with the collaboration of Guy &amp; Aimee Bar-Am, Sean Gipson, and Teqnavi- an enterprise technology solutions company.
                    A partnership of knowledge and expertise in retail skincare, network marketing affiliate based business, and technology.
                    These practices shared between all partners would enable us to see our idea come to life. The combined knowledge became a perfect marriage to utilize the influence from our various industries to build and offer Luxxium.
                </p>
            </div>
            <div class="space-20"></div>
            <div class="col-sm-12" style="padding:0px 25px 30px 25px;">
                <figure>
                    <img src="~/Content/images/shutterstock_279651938.jpg" />
                </figure>
            </div>
            <div class="space-20"></div>
            <div class="col-sm-12">
                <p style="color:#1a1a3c;text-align:center; padding:30px; background-color: #eee;">
                    With the idea to make successful, proven business practices accessible to not only retailers but also their valued customers, Luxxium would create an avenue for both parties to enjoy numerous benefits.
                    A true hybrid built for merchants and influencers to partner together, our idea was to have Luxxium deliver elite products to an exclusive group of club members and also offer a complete business model.
                    For those looking to take control of their personal success, Luxxium had to appeal to individuals with minimal business knowledge and a comprehensive support system to help members thrive.
                    It also had to have a catalog of quality, lavish products that we could stand behind; the type of products that only the elite could afford, but somehow Luxxium could attain for their members.&nbsp;
                </p>
            </div>
            <div class="space-20"></div>
            <div class="col-sm-12">
                <p style="color:#1a1a3c">
                    We strive to keep Luxxium unsurpassed amongst the many affiliate based businesses in this industry by providing the utmost support system to our members.
                    We have taken the time to educate, and coach our trainers so that they can pass on their knowledge to you. By offering the very best products, the very best guidance,
                    and the simplest plan to duplicate success, we are confident our members will see the value in Luxxium the same way we do. We welcome all our members to find success in their endeavors and to look better,
                    feel better and start living better today!.&nbsp;
                </p>
            </div>
            <div class="space-40"></div>
            <div class="col-sm-12">
                <blockquote>
                    <p>
                        <em>
                            Luxxium is the culmination of hundreds of researched beauty lines, formulas, skincare technologies, and lifestyle products in combination with a proven affiliate program to deliver you both
                        </em>
                        <strong><em>luxury and opportunity</em></strong><em>.</em>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>