body {
    color: #333333;
}
a {
    color: #333333;
    text-decoration: none;
}
.gold {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.text-white h2 {
    color: white;
}

.text-white {
    color: white;
}
.btn-primary {
    background-color: #040230;
    color: #fff;
    border-color: #000;
}
.cart-container a {
    color:#fff;
    text-decoration:none;
}
.cartCount {
    color: #fff !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #040230;
}
hr {
    color: #000000;
}

#main-header.fixed-header .container-fluid {
    background-color: rgba(0, 0, 0, .8) !important;
}
.cartCount {
    background-color: #000;
}
.nav a {
    color: #fff;
}
item-content a {
    color: #333333;
    text-decoration:none;
}