@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section PageHeader{
    @Html.Partial("Partials/_PageBanner")
}
<style>
    #categories-sidebar{
        border-right: 1px solid black;
        height:900px;
    }
    #shop-content{
        padding-left:80px;
        padding-right:80px;
    }
</style>
<div class="container">
    <div class="row">
        <div id="categories-sidebar" class="col-sm-4">
                <div class="col-sm-12">
                    <img src="@ViewBag.ProductlineImage" class="img-responsive">
                </div>
        </div>
        <div id="shop-content" class="col-sm-8">
            @RenderBody()
        </div>
    </div>
</div>
