@model PaymentStep
    <section id="information-contact-info">
        <div class="space-10"></div>
        <div class="step-footer">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#"><< Back to shipping</a>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </div>
            </div>
        </div>
    </section>