.single-item-container {
    min-height:400px;
    .image-wrapper{
        min-height:380px;
    }
    .description-wrapper {
        min-height:60px;
        width:80%;
        text-align:center
    }
}
.static-kit-item-container {
    min-height: 400px;

    .image-wrapper {
        min-height: 300px;
    }

    .description-wrapper {
        min-height: 270px;
        padding-left: 10%;
        text-align: center;

        .item-description {
            font-size: 14px;
        }
    }

    .static-kit-header {
        border-bottom: 1px solid black;
        text-align: center;
    }

    h2 {
        font-size: 36px;
    }
}