@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.background-cover {
    position: relative;
    min-height: 100vh;
    height: auto;
    z-index: 1;

}
.background-cover::before {
    background-image: url('../../Content/images/new/new-header.png');
    content: "";
    position: absolute;
    /* the following makes the pseudo element stretch to all sides of host element */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    animation: 1s ease 0s normal forwards 1 fadein;
    z-index: 1;

    @media handheld, only screen and (max-width: 991px) {
        background-position: center top;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 9999;
}
.frontpage-background{
    position:relative;
    top:0;
}
.banner-content-wrapper {
    position:absolute;
    bottom:40px;
    max-height: 800px;
    margin-top: 156px;
    float: left;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 40;
    flex-grow: 1;
}

.banner-content-wrapper .banner-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em;
}

.page-banner, .feature-img.page-banner {
    display: flex;
    width: 100%;
    max-height: 500px;
    position: relative;
    line-height: 0;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: contain;

    @media only screen and (min-width: 1780px) {
        background-size: cover;
    }

    z-index: 1;
}
.headline.img-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 2.8em;
    color: #ffffff;
    position: absolute;
    top: 50%;
    width: 76%;
    text-align: center;
    line-height: 1.1;
    letter-spacing: -2px;
    margin-top: 48px;
    padding: 0px 12% 24px 12%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 7;
    position: relative;
    width: auto;
}
/*.banner-content .headline.img-headline:after {
    position: absolute;
    color: #ffffff;
    content: '';
    bottom: 0;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    //border-bottom: 4px solid #ffffff;
}*/
