<div id="home-search" style="height:100vh">
    <div class="content">
        <div class="col-sm-6">
            <div class="social-menu">
                <ul id="menu-social" class="social-icons">
                    <li id="menu-item-284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-284"><a target="_blank" rel="noopener noreferrer" href="mailto:info@luxxium.net"><i class="fade fa-mail"></i></a></li>
                    <li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a href="http://www.facebook.com/luxxium"><span>Facebook</span></a></li>
                    <li id="menu-item-154" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"><a href="http://www.instagram.com/aimeebaram"><span>Instagram</span></a></li>
                    <li id="menu-item-281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-281"><a target="_blank" rel="noopener noreferrer" href="http://twitter.com"><span>Twitter</span></a></li>
                    <li id="menu-item-282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-282"><a target="_blank" rel="noopener noreferrer" href="http://linkedin.com"><span>linkedin</span></a></li>
                    <li id="menu-item-285" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-285"><a target="_blank" rel="noopener noreferrer" href="http://plus.google.com"><span>google</span></a></li>
                    <li id="menu-item-286" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-286"><a href="http://pinterest.com"><span>pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <div class="align-right">
            <div class="search-bar">
                <form method="get" id="searchform" class="clearfix" action="https://luxxium.net/" role="search">
                    <label for="s" class="assistive-text">Search</label>
                    <input type="text" class="field" name="s" value="" id="s" placeholder="Search …">
                    <input type="submit" class="submit" name="submit" id="searchsubmit" value="Go">
                </form>
            </div>
        </div>
    </div>
</div>