<div id="home-search">
        <div class="col-sm-12">
            <div class="social-menu">
                <ul id="menu-social" class="social-icons">
                    <li><a target="_blank" rel="noopener noreferrer" href="mailto:info@luxxium.net"><i class="fade fa-mail"></i></a></li>
                    <li><a href="http://www.facebook.com/luxxium"><span>Facebook</span></a></li>
                    <li><a href="http://www.instagram.com/aimeebaram"><span>Instagram</span></a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="http://twitter.com"><span>Twitter</span></a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="http://linkedin.com"><span>linkedin</span></a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="http://plus.google.com"><span>google</span></a></li>
                    <li><a href="http://pinterest.com"><span>pinterest</span></a></li>
                </ul>
            </div>
        </div>
        @*<div class="align-right">
            <div class="search-bar">
                <form method="get" id="searchform" class="clearfix" action="https://luxxium.net/" role="search">
                    <label for="s" class="assistive-text">Search</label>
                    <input type="text" class="field" name="s" value="" id="s" placeholder="Search …">
                    <input type="submit" class="submit" name="submit" id="searchsubmit" value="Go">
                </form>
            </div>
        </div>*@
</div>