@model Item
<style>
    .fullwidth-element {
        width: 100%;
    }
</style>
<div class="row fullwidth-element">
    @using (Ajax.BeginForm("AddItemToOrder", "Shopping", new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "addToOrderBegin",
        OnSuccess = "addToOrderSuccess"
    }))
    {
        @Html.HiddenFor(c => c.ItemId)
        @Html.HiddenFor(c => c.ItemCode)
        @Html.HiddenFor(c => c.Quantity)
    <div class="col-sm-12">
        <a class="btn fullwidth btn-default" href="@Url.Action("ProductDetail", "Shopping", new { itemId = Model.ItemId })">Details</a>
    </div>
    <div class="col-sm-12 space-10">
        <a class="btn fullwidth btn-primary  add-item-to-order">Add To Cart</a>
    </div>
    }
</div>

