@model Item
<div class="item-container">
    <div class="col-md-4 col-sm-6 item-card">
        <div class="col-sm-12 image-wrapper">
            <img src="@Model.MediumImage" class="img-responsive image" />
        </div>
        <div class="row">
            <div class="col-sm-12 description-wrapper">
                <span class="item-description">@Model.Title</span>
            </div>
        </div>
        @Html.Partial("Partials/Items/_CardAddToCartButton", Model)
    </div>
</div>
  

