<blockquote>
    <p>We combined the best of light technology to bring you beauty devices with three times the skin benefits. Our devices use the latest technology to give aging, acne-prone, and photo-damaged complexions special treatment</p>
</blockquote>
<h3 class="text-center">Techture’s device will become your go-to solution for skin issues such</h3>
<ul>
    <li>Fine Lines</li>
    <li>Wrinkles</li>
    <li>Uneven Skin Tone</li>
    <li>Frown Lines</li>
    <li>Pigmentation</li>
    <li>Dark Circles </li>
    <li>Body Contouring</li>
</ul>
<div style='height: 40px'></div>
<div>
    <figure class='img-responsive'>
        <img src='~/Content/Images/Short-2.png' /> 
    </figure>
</div>
