
<div class="background-cover" style="margin-bottom:2px;">
    <div class="banner-container overlay">
        <div class="article clearfix">
            <div class="first-banner-content">
                <div class="text-white animate">
                    <h2>Luxury</h2>
                    <h2 class="space-bottom-20"><em>&amp; Opportunity</em></h2>
                    <p class="text-left space-bottom-20">A revolutionary lifestyle subscription tailored to your individual desires, Luxxium delivers the utmost lavish skincare products and groundbreaking lifestyle care. Join an elite assembly of clientele enjoying the benefits of our exclusive R + R, Renew and Reward System™and&nbsp;&nbsp;proven compensation structure.&nbsp;&nbsp;Products you believed were only for the upper echelon are now available to you at reduced costs, and subscriber only prices.&nbsp;</p>
                    <div class="space-20">
                        <a class="rounded-button gold" href="https://luxxium.net/r-r-program/" style="background-color:#a3842e">R + R, Renew and Reward System™</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
