@model CompleteCheckoutStep
@{
    //Todo: need to fix a good thank you page
    var isEnrollment = (Model.Type == CheckoutFlowType.Enrollment || Model.Type == CheckoutFlowType.SimpleEnrollment);
}
    <section id="contact-information">
        <div class="row">
            <div class="col-sm-6">
                @if (Model.PropertyBag.Response.Success)
                {
                    if (isEnrollment)
                    {
                        <h3>Enrollment Completed</h3>
                        @Html.Partial("DisplayTemplates/NewEnrollmentCustomer", Model.PropertyBag.Customer)
                    }
                    else
                    {
                        <h3>Order Completed</h3>
                    }
                }
                else
                {
                    if (isEnrollment)
                    {
                        <h3>Enrollment Failed</h3>
                        <span>@Model.PropertyBag.Response.Message</span>
                    }
                    else
                    {
                        <h3>Order Failed</h3>
                        <span>@Model.PropertyBag.Response.Message</span>
                    }
                }
            </div>
        </div>
    </section>