<blockquote>
    <p>Since ancient times, precious Stones have been used to promote healing and well-being.&nbsp;The result? Youthful radiance and balanced spiritual energy.</p>
</blockquote>
<p style="text-align:center">
    <strong>Kristals has unlocked the holistically healing power of gemstones to promote vibrant, radiant skin. The brand’s top-selling products include the Rock Crystal Refining Moisturizer, the Sapphire Retinol Firming and Lifting Eye Cream and the Amber Multivitamin Brightening Serum</strong>.
</p>
<figure>
    <img src="/Content/Images/kristals_stones.jpg" class="img-responsive" />
</figure>
<p class="small-font-size text-center">
    For thousands of years, gemstones have been used for health and beauty around the world. Classical texts as well as astrological studies refer to the healing properties of gemstones and the positive influence of gems on the mind and body. Kristals takes this wisdom to a new level, 
    bringing you concentrations of precious and semiprecious gemstones and metals known to create protective fields around the body and blending them with powerful botanicals, naturally effective herbal essences and oils, and the best scientific breakthroughs in skincare for every skin type.
</p>