.background-content .content {
    max-width: 1080px;
    margin: 0px auto 0px;
    padding: 48px 4%;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em;
}

.banner-container .article {
    padding: 0px 5%;
}
.first-banner-content {
    margin-top: 490px;
    margin-left: 10%;
    width: 700px;

    p {
        text-align: justify;
        font-family: "Proxima Nova",sans-serif;
        font-weight: 300;
        line-height: 1.7;
        padding: 12px 0px;
        margin: 0px;
    }
}

@media handheld, only screen and (max-width: 1023px) {
    .first-banner-content {
        margin-top: 330px;
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
}