@section  PageHeader{
    @Html.Partial("Partials/_PageBanner")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            @Html.Partial("~/Views/Shared/Partials/_LeftImageMenu.cshtml")
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="article clearfix">

                <div data-amp-lightbox="true" class="wp-block-image">
                    <figure class="aligncenter"><a href="~/Content/images/luxxium_site_comp_plan.jpg?ssl=1" target="_blank" rel="noreferrer noopener" data-slb-active="1" data-slb-asset="165145372" data-slb-internal="0" data-slb-group="1755"><img data-attachment-id="3198" src="~/Content/images/luxxium_site_comp_plan.jpg?w=760&amp;ssl=1" alt=""  /></a>
                    <figcaption><strong>CLICK IMAGE ABOVE TO ENLARGE</strong></figcaption></figure>
                </div>

                <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>

                <hr class="wp-block-separator is-style-wide">

                <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>

                <h2 style="text-align:center">HOW TO LUXXIUM</h2>

                <div class="wp-block-file aligncenter">
                    <a href="~/Content/documents/updated_comp_plan.pdf" target="_blank" rel="noreferrer noopener">CLICK TO DOWNLOAD PDF<br><img  data-image-title="HOW TO LUXXIUM" src="~/Content/images/Comp_plan_whole_mobile-1.jpg?w=760&amp;ssl=1"></a>
                </div>

                <p style="text-align:center"></p>

                <div class="wp-block-columns has-2-columns">
                    <div class="wp-block-column">
                        <p></p>
                    </div>

                    <div class="wp-block-column"></div>
                </div>

            </div>
        </div>
    </div>
</div>
