@section  PageHeader{
    @Html.Partial("Partials/_PageBanner")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            @Html.Partial("~/Views/Shared/Partials/_LeftImageMenu.cshtml")
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="article clearfix">

                <h2>Retailer Membership for Store Owners</h2>

                <hr class="wp-block-separator">

                <p><strong>Increase sales</strong></p>

                <ul><li>By adding Luxxium to your current retail, give your sales force the opportunity to drive your monthly revenue higher</li></ul>

                <p><strong>Exclusive Retail Discounts</strong></p>

                <ul><li>Retailers receive special wholesale pricing to carry and sell Luxxium products to their consumers at mark up retail prices for profit</li></ul>

                <div class="wp-block-image"><figure class="aligncenter"><img src="~/Content/images/home_party.jpg?w=760&amp;ssl=1" alt="" /></figure></div>

                <p><strong>Business automation</strong></p>

                <ul><li>With our streamlined system, Luxxium will maintain all aspects of your membership from drop shipping, to commission payouts, eliminating the time consuming and sometime tedious work involved with sales based businesses.</li></ul>

                <p><strong>Weekly Payouts</strong></p>

                <ul><li>Commission are paid on a weekly basis</li></ul>

                <p><strong>Weekly training and support</strong></p>

                <ul><li>Let Luxxium provide you with the most professional and impactful training from our highly effective, proven trainers. On-going support will be by your side every step of the way ensuring your success</li></ul>

                <p><strong>Improved employee sales performance&nbsp;</strong></p>

                <ul><li>Enjoy an improved and better trained sales force after learning from industry leaders. By exposure to the most influential products and trainers, your sales team can realize their true potential and growth sending your business&nbsp;&nbsp;to unimaginable profit heights</li></ul>

                <div class="col-xs-12 text-center" style="margin: 30px 0;"><a class="rounded-button gold" href="@Url.Action("Contact", "Home")">CONTACT US FOR RETAILER MEMBERSHIP</a></div>

                <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>

                <hr class="wp-block-separator is-style-wide">

                <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>

                <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>

                <div class="wp-block-image"><figure class="aligncenter"><img src="~/Content/images/shutterstock_640958347.jpg?w=760&amp;ssl=1" alt="" /></figure></div>

            </div>
        </div>
    </div>
</div>