@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@section  PageHeader{
    @Html.Partial("Partials/_PageBanner")
}

<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-4">
            @Html.Partial("~/Views/Shared/Partials/_LeftImageMenu.cshtml")
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="article clearfix">

                <h2>R + R Club Member Affiliate </h2>

                <hr />

                <p style="color:#1a1a3c">As a dignitary Luxxium Renew and Reward Club Member enjoy the flexibility of tailoring your enrollment to your specific needs. Imagine a Renew and Reward program that rewards you to benefit from a skincare regime you are already using. With every Luxxium purchase not only do you experience significant discounts on retail prices, you will also be rewarded with valuable points redeemable for future purchases. And by sharing your experience with family and friends, you have the potential to receive outstanding bonuses and incentives.</p>

                <div class="col-xs-12 text-center" style="margin: 30px 0;"><a class="rounded-button gold" href="https://luxxium.net/membership-level/" style="background-color:#a3842e">JOIN NOW</a></div>

                <p><strong>Free priority shipping on all orders</strong></p>

                <ul><li>Avoid hidden additional shipping fees on all orders, with no minimums</li></ul>

                <p><strong>60%&nbsp;&nbsp;off all retail prices on all products&nbsp;</strong></p>

                <ul><li>By collaborating with numerous vendors in the industry, and pulling together a community of fellow affiliates, is what allows Luxxium to offer substantial retail discounts&nbsp;</li></ul>

                <div class="row" style="margin: 30px 0;">
                    <div class="col-xs-12 col-md-4 text-center">
                        <div class="wp-block-image"><figure class="aligncenter is-resized"><a href="https://luxxium.net/products/kristals/" target="_blank" rel="noreferrer noopener"><img src="~/Content/images/rock_crystal_set.jpg?resize=151%2C151&amp;ssl=1" alt="" /></a><figcaption>KRISTALS ROCK CRYSTAL COLLECTION</figcaption></figure></div>
                    </div>

                    <div class="col-xs-12 col-md-4 text-center">
                        <div class="wp-block-image"><figure class="aligncenter is-resized"><a href="https://luxxium.net/products/techture/" target="_blank" rel="noreferrer noopener"><img src="~/Content/images/body.jpg?resize=151%2C151&amp;ssl=1" alt="" /></a><figcaption>TECHTURE EMS IN HOME BODY SCULPTING PRO</figcaption></figure></div>
                    </div>

                    <div class="col-xs-12 col-md-4 text-center">
                        <div class="wp-block-image"><figure class="aligncenter is-resized"><a href="https://luxxium.net/products/kristals/" target="_blank" rel="noreferrer noopener"><img src="~/Content/images/diamond_set.jpg?resize=151%2C151&amp;ssl=1" alt="" /></a><figcaption>KRISTALS DIAMOND COLLECTION</figcaption></figure></div>
                    </div>
                </div>

                <p><strong>Variety of products</strong></p>

                <ul><li>With access to a diverse collection of products ranging from lifestyle, to the latest technologies in beauty, new products are added monthly from which to choose.</li></ul>

                <p><strong>Earn rewards points that may be used to acquire items</strong></p>

                <ul><li>Reward points may be used for future purchases with minimal or no money out of pocket. With access to a catalog of merchandise from which to choose, reward points count dollar to dollar towards your most lavish selections</li></ul>

                <p><strong>Extra reward points for referrals&nbsp;</strong></p>

                <ul><li>By sharing Luxxium with family and friends, receive bonus rewards for your referrals.&nbsp;</li></ul>

                <p><strong>Quarterly gift&nbsp;&nbsp;</strong></p>

                <ul><li>Receive a special gift every quarter for being the most important part of Luxxium</li></ul>

                <p><strong>Host Reward</strong></p>

                <ul><li>Luxxium home hosts earn more points, gifts, and incentives. With the availability of Luxxium demonstrators in nearly every state, members can benefit from the experience of well informed hosting consultants who can assist in your gathering&nbsp;</li></ul>

                <div class="row" style="margin: 30px 0;">
                    <div class="col-xs-12 col-sm-6">
                        <div class="wp-block-button aligncenter is-style-squared"><a class="rounded-button gold" href="https://luxxium.net/membership-level/" style="background-color:#a3852e">JOIN NOW</a></div>
                    </div>

                    <div class="col-xs-12 col-sm-6 text-right">
                        <div class="wp-block-button aligncenter is-style-squared"><a class="rounded-button gold" href="@Url.Action("InfluencerLevel", "Home")" style="background-color:#a3852e">NEXT / INFLUENCER</a></div>
                    </div>
                </div>

                <hr class="wp-block-separator is-style-wide">

                <figure class="wp-block-image"><img src="~/Content/images/shutterstock_513894850.jpg?resize=760%2C473&amp;ssl=1" alt="" /></figure>

            </div>
        </div>
    </div>
</div>