@model CheckoutAddress
@using (Html.BeginForm("Information", "Checkout"))
{
    <section id="information-contact-info">
        <div class="row">
            <div class="col-sm-6">
                <h3>Contact Info</h3>
            </div>
            <div class="col-sm-6 text-right have-account">
                <span id="have-account-text">Do you have an account? <a href="#">Log in</a></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.TextBoxFor(c => c.ContactInfo.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(c => c.ContactInfo.Email) })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.CheckBoxFor(c => c.OptIn) <span id="optin-text">Keep me updated on news and offers</span>
            </div>
        </div>
    </section>
    <section id="information-shipping-info">
        <div class="row">
            <div class="col-sm-12">
                <h3>Shipping Info</h3>
            </div>
        </div>
        @Html.EditorFor(c => c)
        <div class="row">
            <div class="col-sm-12">
                @Html.CheckBoxFor(c => c.SaveInformation) <span id="optin-text">Save Information For Later</span>
            </div>
        </div>
    </section>
}
